@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: orangered;
}

header {
    width: 100%;
    padding: 15px 100px;
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0 5px 5px #999;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.logo a {
    color: #111;
    font-size: 1.6rem;
    font-weight: bold;
}

.logo a i {
    color: orangered;
}

.menu ul {
    position: relative;
    display: flex;
    align-items: center;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    color: #111;
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: 20px;
}

.menu ul li a:hover {
    color: orangered;
}

/* header responsivo */

@media (max-width: 1000px) {
    header {
        padding: 15px 50px;
    }
}

@media (max-width: 750px) {
    header {
        padding: 10px;
    }

    .btn {
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: #111;
        box-shadow: 0 6px 0 #111;
        transform: translateY(-6px);
        transition: .3s;
    }

    .btn::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: #111;
        transform: translateY(6px);
        transition: .3s;
    }

    .btn.active::before {
        box-shadow: 0 0px 0 #111;
        transform: translateY(0px) rotate(-45deg);
    }

    .btn.active::after {
        box-shadow: 0 0px 0 #111;
        transform: translateY(0px) rotate(45deg);
    }

    .menu ul {
        width: 100%;
        height: 0vh;
        top: 70px;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 1;
        background: white;
        box-shadow: 0 5px 5px #999;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px;
        transition: .3s;
    }

    .menu ul.active  {
        height: 80vh;
    }

    .menu ul li {
        width: 100%;
        position: relative;
        padding: 15px 5px;
        border: 1px solid rgb(238, 231, 231);
        border-left: 5px solid orangered;
        cursor: pointer;
        margin: 3px 0 ;
    }
}

/* section home */

section {
    min-height: 100vh;
    padding: 0 100px;
}

.banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/home-bg.jpg');
    background-size: cover;
}

.text-banner h3 {
    color: #111;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 500;
}

.text-banner p {
    color: #333;
    max-width: 500px;
    margin-bottom: 30px;
}

.text-banner a {
    padding: 8px 25px;
    border: 2px solid orangered;
    border-radius: 3px;
    cursor: pointer;
    color: orangered;
    text-transform: capitalize;
    transition: .3s;
}

.text-banner a:hover {
    background: orangered;
    color: #fff;
}

.image-banner img {
    width: 100%;
    max-width: 450px;
}

/* section home responsiva */

@media (max-width: 1000px) {
    section {
        padding: 0 50px;
    }

    .image-banner img {
        max-width: 400px;
    }

    .text-banner h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 750px) {
    section {
        padding: 0 15px;
    }

    .title h3 {
        font-size: 1.8rem;
    }

    .text-banner {
        margin-top: 80px;
    }

    .banner {
        flex-direction: column;
    }

    .image-banner img {
        margin-top: 50px;
    }
}


/* section speciality */

.title h3 {
    color: #111;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 80px;
    text-align: center;
}

.title h3 span {
    color: orangered;
}

@media (max-width: 415px) {
    .title h3 {
        font-size: 2rem;
    }
}

@media (max-width: 330px) {
    .title h3 {
        font-size: 1.3rem;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 100%;
    max-width: 300px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(209, 206, 206);
    box-shadow: 0 1px 1px 1px rgb(209, 206, 206);
    border-radius: 3px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

.card img, h3, p {
    margin-bottom: 10px;
}

.card h3 {
    color: #111;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
}

.card p {
    color: #333;
}

.card:hover .image {
    position: absolute;
    width: 100%;
    max-width: 300px;
    min-height: 50vh;
    background-size: cover;
    border-radius: 3px;
    transition: .4s;
    overflow: hidden;
}

.image {
    height: 0px;
}

/* section popular */

.card-popular {
    width: 100%;
    max-width: 320px;
    padding: 15px 10px;
    border: 1px solid rgb(209, 206, 206);
    box-shadow: 0 1px 1px 1px rgb(209, 206, 206);
    border-radius: 3px;
    text-align: center;
    margin: 10px auto;
    padding: 20px 10px;
}

.card-popular span {
    position: absolute;
    padding: 5px 10px;
    background: orangered;
    color: white;
    border-radius: 3px;
    margin: 10px;
}

.card-popular img {
    width: 100%;
    border-radius: 3px;
}

.card-popular h3 {
    color: #111;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
}

.card-popular i {
    color: orangered;
    margin-bottom: 30px;
}

.card-popular a {
    padding: 8px 25px;
    border: 2px solid orangered;
    border-radius: 3px;
    cursor: pointer;
    color: orangered;
    text-transform: capitalize;
    transition: .3s;
}

.card-popular a:hover {
    background: orangered;
    color: white;
}

/* section works */

.container-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    margin: 15px auto;
}

.box img {
    border: 10px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgb(209, 206, 206);
    margin-bottom: 20px;
}

.box p {
    color: #111;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 450px) {
    .box p {
        font-size: 1.1rem;
    }
}

/* section gallery */

.container-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-gallery {
    width: 100%;
    max-width: 320px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    border: 10px solid rgb(238, 231, 231);
    box-shadow: 3px 3px 3px rgb(238, 231, 231);
    border-radius: 3px;
}

.card-gallery img {
    width: 100%;
}

.card-gallery .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    background: white;
    display: none;
}

.card-gallery:hover .hover {
    display: block;
}

.card-gallery .hover h3 {
    color: #111;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 25px;
    pointer-events: none;
}

.card-gallery .hover p {
    color: #333;
    margin-bottom: 25px;
    pointer-events: none;
}

.card-gallery .hover a {
    padding: 8px 25px;
    border: 2px solid orangered;
    border-radius: 3px;
    cursor: pointer;
    color: orangered;
    text-transform: capitalize;
    transition: .3s;
}

.card-gallery .hover a:hover {
    background: orangered;
    color: white;
}

/* section review */

.container-review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-review {
    position: relative;
    width: 100%;
    max-width: 320px;
    background: #111;
    border: 10px solid rgb(238, 231, 231);
    box-shadow: 3px 3px 3px rgb(238, 231, 231);
    border-radius: 3px;
    text-align: center;
    margin: 20px auto;
    padding: 15px 10px;
}

.card-review img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 8px solid white;
}

.card-review h3 {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card-review .icon-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    margin-bottom: 20px;
}

.card-review p {
    color: #999;
    margin-bottom: 30px;
}

/* section order */

form {
    width: 100%;
    max-width: 1100px;
}

.container-order {
    display: flex;
}

.image-order {
    width: 100%;
    max-width: 400px;
    margin-right: 30px;
}

.image-order img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #777;
}

.container-cad {
    width: 100%;
    padding: 10px;
}

.cad {
    display: flex;
}

.container-cad input {
    width: 100%;
    padding: 10px 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #999;
    color: #777;
    margin: 5px;
    font-size: 1rem;
}

textarea {
    width: 100%;
    max-width: 575px;
    min-height: 15vh;
    outline: none;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 5px;
    padding: 8px;
    color: #777;
    font-size: 1rem;
    resize: none;
}

.button  {
    width: 100%;
    max-width: 120px;
}

.button input {
    width: 100%;
    cursor: pointer;
    outline: none;
    border: 1px solid orangered;
    color: orangered;
    font-weight: bold;
    background: transparent;
    text-transform: capitalize;
    transition: .3s;
}

.button input:hover {
    background: orangered;
    color: white;
}

/* section order responsiva */

@media (max-width: 1000px) {
    .container-order {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image-order {
        margin: 0 auto;
    }
}

@media (max-width: 570px) {
    .cad {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* footer */

footer {
    width: 100%;
    padding: 30px 100px;
    bottom: 0;
    z-index: 1;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links ul {
    position: relative;
    display: flex;
    align-items: center;
}

.links ul li {
    position: relative;
    border: 2px solid orangered;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 20px;
    margin: 0 10px;
}

.links ul li:hover {
    background: orangered;
}

.links ul li:hover a {
    color: white;
}

.links ul li a {
    color: orangered;
    text-transform: capitalize;
}

footer p {
    color: #777;
    margin-top: 50px;
    text-transform: capitalize;
}

footer span {
    color: orangered;
}

@media (max-width: 700px) {
    footer {
        padding: 30px 15px;
    }

    .links ul {
        flex-direction: column;
    }

    .links ul li {
        margin: 10px 0;
    }

    footer p {
        text-align: center;
    }
}

/* arrumando bugs no layout */

@media (max-width: 540px) {
    .menu ul.active  {
        height: 53vh;
    }
}

@media (max-width: 415px) {
    .menu ul.active  {
        height: 43vh;
    }
}

@media (max-width: 395px) {
    .menu ul.active  {
        height: 45vh;
    }
}

@media (max-width: 378px) {
    .menu ul.active  {
        height: 58vh;
    }
}

@media (max-width: 363px) {
    .menu ul.active  {
        height: 53vh;
    }
}




